BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never

BreakBeforeBraces: Attach

AllowShortFunctionsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left

SpaceBeforeParens: ControlStatements

SpacesInAngles: false
AlwaysBreakTemplateDeclarations: Yes

BinPackParameters: false
BinPackArguments: false

NamespaceIndentation: All

ColumnLimit: 120
